html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;

	width: 340px;
}

.wrapper {
	padding-bottom: 0;
}

.header {
	align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    font-size: 14px;
}

.page-content {
	background-color: rgb(247, 247, 247);
	padding: 1em;
	font-size: 12px;
}

h1 {
	display: inline;
}

.mt-0 {
	margin-top: 0;
}

.hidden {
	display: none;
}

.github {
	padding: .5em 1em;
	align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

button {
	padding: 5px;
    border: 0;
    color: inherit;
    background-color: transparent;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5%;
}

button:hover {
	color: #0797e1;
	border: 2px solid #0797e1;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease-in;
	font-weight: bold;
}

a:hover {
	color: #0797e1;
}

.text-center {
	text-align: center;
}

.small {
	font-size: 10px;
	margin: 0;
}

.attribution {
	font-size: 7px;
	padding: .5em 1em;
}